<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <h1 id="" class="">Web Development - VIT</h1>
        <button id="out" onclick="Display()">Click Me</button>
        <div id="out-string"></div>
        <img src="{{ url_for('static', filename='vytcdc.png') }}" alt="VYTCDC Logo">
    </body>
</html>